<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>

  <h3>Restaurant Reviews</h3>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li>
        <%= review.rating %>
        <%= review.content %>
      </li>
    <% end %>
  </ul>

  <div class="btn">
    <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
  </div>

  <div class="btn">
    <%= link_to "Back", restaurants_path %>
  </div>
</div>


